#leaderBoardList {
	list-style: none;
	padding-left: 0;
	margin-bottom: 4rem;
}

.leaderboard {
	font-size: 2rem;
	margin-bottom: 0.5rem;
	background: rgba(97, 220, 192, 0.203);
	padding: 10px;
	border-radius: 8px;
	text-align: center;
	transition: transform 0.2s ease-in-out;
}

.leaderboard:hover {
	transform: scale(1.05);
	background: rgba(164, 187, 88, 0.205);
}